<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpQR5wZWIB3aclB77OtvTAjIXXcfL_qGE</string>
	<key>GCM_SENDER_ID</key>
	<string>1024612674651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leduybao1410.balancescoreboard</string>
	<key>PROJECT_ID</key>
	<string>balance-score-board</string>
	<key>STORAGE_BUCKET</key>
	<string>balance-score-board.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024612674651:ios:684eb52b435f87867ce37e</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-3488842401803401~3709246841</string>
</dict>
</plist>